.inner-loader {
    border: 20px solid #f3f3f3 !important;
    border-top: 20px solid #6C63FF !important;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s linear infinite;
    color:black !important;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .fullpage-loader{
      background-color:rgb(196, 196, 196) !important;
      width:100vw;
      height:100vh;
      opacity:0.5;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }